<p>Hey there! <%= @user["name"] %> has invited you to join their <strong><%= @trip.name %></strong> plan in Wanderers.</p>

<p>Click
  <a href="http://localhost:3000/trips/<%= @trip.id %>">HERE</a> to be redirected! ✈️
</p>
